<article class="contents">
  <!--フォロワーや会いたい人情報パネルここから-->
  <% @requests.each do |request| %>
    <div class="panel">
      <%=render file: 'shared/_user', locals: {user: request.target(users: @users)}%>
      <!--「解除」はclass="regectbutton"-->
      <button type="submit" class="regectbutton">
        <%=link_to '解除', request, :class => 'loginLabel', :confirm => 'Are you sure?', :method => :delete %>
      </button>
      <a href="https://www.google.co.jp/"/></a>
    </div>
  <% end %>
</article>
